.column-dropdown {
  margin-top: 5px;
  position: relative;
  display: inline-block;
  width: 200px;
  font-size: 14px;
  height: 30px;

  .dropdown-toggle {
    cursor: pointer;
    padding: 2px;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 20px;
    background-color: #ffffff;

    &:hover {
      background-color: #00000010;
      transition: all 0.3s;
      cursor: pointer;
    }

    &.open {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      border-bottom: 0;
    }
  }

  .dropdown-options {
    position: absolute;
    top: 85%;
    width: 198px;
    left: 0;
    z-index: 1;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-top: none;
    list-style: none;
    padding: 0;
    margin: 0;
    overflow-y: auto;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    li {
      font-size: 16px;
      padding: 2px;
      cursor: pointer;
      user-select: none;
      display: flex;
      justify-content: space-between;
      align-items: center;
      transition: all 0.3s;

      &.selected {
        background-color: #e1e1e1;

        .checkmark {
          color: black;
        }
      }

      &:hover {
        background-color: #00000010;
        cursor: pointer;
      }

      .checkmark {
        color: #2f3e46;
        font-size: 16px;
        margin-left: 5px;
      }
    }

    &.open {
      .checkmark {
        display: inline;
        /* Display the checkmark when the option is selected */
      }
    }
  }
}