.container {
    padding: 0 1em;
    color: white;
    background-color: black;
}

.container * {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.columnfilterdropdown {
    color: black;

}

.container h1 {
    font-size: 1.5em;
    
}