.container {
    padding: 0 1em;
}

.container * {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #2f3e46;
}

.container h1 {
    font-size: 1.5em;
}

.searchBar {
    width: 30%; 
    padding: 15px;  
    font-size: 18px; 
    border-radius: 5px;
    border: 1px solid #ccc; 
}

.searchDropdown {
    height: 58px; 
    border: 1px solid #ccc;  
    border-radius: 5px;
    padding: 8px; 
    font-size: 1rem; 
  }
  