.container {
    padding: 0 1em;
}

.container * {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container h1 {
    font-size: 1.5em;
    color: white;
}

.searchBar {
    width: 30%; 
    padding: 15px;  
    font-size: 18px; 
    border-radius: 5px;
    border: 1px solid white; 
    color: white;
    background-color: black;
}

.searchDropdown {
    height: 58px; 
    border: 1px solid #ccc;  
    border-radius: 5px;
    padding: 8px; 
    font-size: 1rem; 
    color: white;
    background-color: black;
  }


  