.navbar {
    display: flex;
    position: relative;
    top: 0;
    flex-direction: row;
    width: 100%;
    align-items: center;
    color: #383838;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.1em;
    font-weight: bold;
    transition: top 0.5s;
    height: fit-content;
    margin-left: -0.65em;
}

.hide {
    top: -3em;
}

.navitem {
    position: relative;
    padding: 0.5em 1em 0.6em;
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: default;
    white-space: nowrap;
}

.clickable {
    @extend .navitem;
    cursor: pointer;

    &:hover {
        color: #52796f;
        transition: all 0.3s;
    }
}

.dropdown_container {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    background-color: #cad2c5;
    position: absolute;
    top: 100%;
    right: 0;
}

.dropdown:hover {
    cursor: pointer;

    .dropdown_container {
        visibility: visible;
    }
}

.end {
    margin-left: auto;
}