.container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container * {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

.container h1 {
    font-size: 1.5em;
    
}

.form {
    display: flex;
    flex-direction: column;
    max-width: 50em;
    min-width: 40em;
    
}

.formItem {
    padding: 1em;
    margin: 1em 0;
    flex-grow: 1;
    
}

.formTextArea {
    @extend .formItem;
    min-height: 8em;
    resize: vertical;
    
}

.container input,
.container .formTextArea {
    background-color: #00000010;
    border: 1px #979797 solid;
    border-radius: 0.5rem;

    &:hover {
        background-color: #00000010;
        border-color: #cccccc;
        transition: all 0.3s;
    }
}

.container button {
    border: 1px #979797 solid;
    border-radius: 0.5rem;
    background-color: #cad2c5;
    font-size: 1rem;

    &:hover {
        background-color: #84a98c;
        border-color: #cccccc;
        color: white;
        transition: all 0.3s;
        cursor: pointer;
    }
}

.container input:focus,
.container .formTextArea:focus {
    border-color: none;
    outline: #2f3e46 1px solid;
    transition: all 0.3s ease-in-out;
}

.arrayItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: stretch;
}

.buttonItem {
    width: 3rem;
    height: 3rem;
    flex-grow: 0;
    font-size: 1.5em;
}

.warning {
    color: red;
    margin: 0;
    align-self: center;
    display: none;
}

.submitSuccessful {
    color: #225a1d;
    margin: 0;
    align-self: center;
    display: none;
}