.form {
    display: flex;
    flex-direction: column;
    max-width: 30em;
}

.formItem {
    padding: 1em;
    margin: 1em 0;
    flex-grow: 1;
}

.formTextArea {
    @extend .formItem;
    min-height: 8em;
}

.searchBar {
    width: 100%;       // Take up the full width of its container
    padding: 15px;     // Add padding to make the input field taller
    font-size: 18px;   // Increase font size
    border-radius: 5px; // Optional: Rounded corners
    border: 1px solid #ccc; // Optional: Border styling
}

.arrayItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: stretch;
}

.buttonItem {
    width: 3rem;
    height: 3rem;
    flex-grow: 0;
    font-size: 1.5em;
}